@charset "UTF-8";
/*-------------------------------
header
-------------------------*/
.is__inner{
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;

}
.header-back {
  background-color: #ffff;
}
.thunder {
  color: #c0c0c0;
  padding: 15px;
  font-size: 40px;
}
.header-contact {
  background-color: #74cfae;
  float: right;
  margin-top: 15px;
}
.header__box {
  text-decoration: none;
  display: block;
  font-size: 12px;
  color: #fff;
  padding: 14px 12px;
}
.header__box:hover {
  color: #333;
  transition: 0.3s;
}
/*-------------------------------
body
-----------------------*/
.main__block {
  background-color: #f2f2f2;
}
.title__block {
  text-align: center;
}
.title__main {
  font-size: 90px;
  color: #74cfae;
  font-weight: 700;
  padding-top: 250px;
}
.title__sub {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
  padding-bottom: 250px;
}
/*----------------------------------
body-2
--------------------------*/
.second__main__block {
  background-color: #74cfae;
}
.i__phone {
  margin-top: 50px;
  margin-left: 70px;
}
.main__text {
  font-size: 24px;
  color: #fff;
  padding-top: 50px;
}
.first__long__text{
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
  line-height: 30px;
}
.phone__block {
  width: 35%;
  float: left;
  font-size: 0;
}
.text__block {
  width: 65%;
  float: right;
  text-align: center;
}
/*---------------------------------
body-3
----------------------*/
.third__main__block {
  background-color:  #f2f2f2;
}
.third__text {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 24px;
  text-align: center;
  font-family: Raleway;
}
.six,ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.six>li:nth-child(2){
margin-left: 100px;
margin-right: 100px;
}
ul.six:nth-child(3) {
  padding-top: 80px;
  padding-bottom: 90px;
}
.six__group {
  opacity: 0.7;
  display: inline-block;
  width: 300px;
  height: 300px;
}
.six__group:hover {
  opacity: 1;
}
.six__img__under__text {
  background-color: #f2f2f2;
}
.second__long__text {
  width: 650px;
  float: right;
  line-height: 20px;
  letter-spacing: 0.105em;
  text-align: center;
}
.six__img__under__text__left {
  width: 68%;
  float: left;
  margin-bottom: 70px;
}
.six__img__under__text__right {
  width: 32%;
  float: right;
}
button {
  margin-left: 90px;
  background-color: #74cfae;
}
.mail__text {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 12px;
  padding: 14px 20px;
}
.mail__text:hover {
  color: #333;
  transition: 0.3s;
}
/*-------------------------
body-4
---------------------*/
.four__main__back {
  width: 100%;
  background-color: #4e4e4e;
}
.four__block {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 24px;
}
.four__block {
  width: 1100px;
  margin: 0 auto;
}
.four>li {
  float: left;
  margin-right: 180px;
  font-size: 0;
}
.four>li:last-child{
  margin-right: 0;
}
.circle__name {
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 100px;
}
/*--------------------------------
body-5
-------------------------*/
.last__inner {
  margin: 0 auto;
  padding: 200px 0 200px;
  background-color: #f2f2f2;
}
.five__main__back {
  background-color: #f2f2f2 ;

}
.sns-btn {
  display: inline-block;
  font-size: 40px;
}
.four__sns {
  text-align: center;
}
.sns-link-text {
  color: #74cfae;
  width: 185px;
  display: block;
  padding: 30px 0;
  transition: 0.3s;
}
.sns-link-text:hover {
  background-color: #fff;
}
/*------------------------------------------
footer
---------------------------------*/
.footer{
  background-color: #74cfae;
}
.footer__main__title {
  color: #fff;
  float: right;
  padding-top:20px;
  padding-bottom: 25px;
}