@charset "UTF-8";
body {
  font-family: lato;
}
/*-------------------------------
header
-------------------------*/
.header{
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 15px 0 ;
  background-color: #fff;
}
.is__inner{
  width: 1100px;
  margin: 0 auto;
}
.thunder {
  color: #c0c0c0;
  font-size: 40px;
}
.header-contact {
  background-color: #74cfae;
  float: right;
}
.header__box {
  text-decoration: none;
  display: block;
  font-size: 12px;
  color: #fff;
  padding: 14px 12px;
  transition: 0.3s;
}
.header__box:hover {
  color: #333;
}

/*-------------------------------
body
-----------------------*/
.display__all {
  padding-top: 70px;
}
.bolt__theme {
  background-color: #f2f2f2;
  padding: 250px 0 250px;
  text-align: center;
}
.bolt__main {
  font-size: 90px;
  color: #74cfae;
  font-weight: 700;
}
.bolt__sub {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}
/*----------------------------------
body-2
--------------------------*/

.phone__about {
  background-color: #74cfae;
  padding-top: 50px;
}
.i__phone {
  float: left;
  margin-left: 50px;
}
.about__text {
  font-family: Raleway;
  font-size: 24px;
  color: #fff;
  margin-bottom: 35px;
}
.about__long__text{
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  width: 630px;
}
.text__block {
  float: right;
  text-align: center;
}
/*---------------------------------
body-3
----------------------*/
.work__block {
  background-color:  #f2f2f2;
  padding: 60px 0 70px;
  font-size: 0;
}
.work__title{
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  color: #333;
  font-family: Raleway;
}
.work__object>li {
  display: inline-block;
  margin-right: 100px;
}
.work__object li:nth-child(3n){
  margin-right: 0;
}
.work__object li:nth-child(n+4){
  margin-top: 80px;
}
.work__object__img{
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
}
.work__object__img:hover {
  opacity: 1;
}
.work__object__bottom {
  margin-top: 90px;
}
.work__bottom__left {
  float: left;
  width: 750px;
}
.work__long__text {
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  color: #333;
}
.mail__box {
  margin-left: 90px;
  float: left;
  padding: 14px 20px;
  font-size: 12px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.mail__box:hover {
  color: #333;
}

/*-------------------------
body-4
---------------------*/

.skill__circle {
  background-color: #4e4e4e;
  padding: 70px 0 100px;
  font-size: 0;
}
.skill__title {
  font-family: Raleway;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  font-size: 24px;
}
.circle {
  text-align: center;
}
.circle__object {
  display: inline-block;
}
.circle__object>li {
  float: left;
  margin-right: 180px;
}
.circle__object>li:last-child{
  margin-right: 0;
}
.circle__name {
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

/*--------------------------------
body-5
-------------------------*/
.sns__block {
  background-color: #f2f2f2 ;
  padding: 200px 0 200px;
}
.sns-btn {
  display: inline-block;
  font-size: 40px;
}
.sns__font {
  text-align: center;
  font-size: 0;
}
.sns-link-text {
  color: #74cfae;
  width: 185px;
  display: block;
  padding: 30px 0;
  transition: 0.3s;
}
.sns-link-text:hover {
  background-color: #fff;
}
.humberger-shop {
  display: none;
}
/*------------------------------------------
footer
---------------------------------*/
.footer{
  background-color: #74cfae;
  padding: 20px 0 25px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.footer__main__title {
  color: #fff;
  text-align: right;
}
/*-----------------------------
pad
----------------------------*/
@media screen and (max-width:1200px){
  .is__inner {
    width: 97%;
  }
  .i__phone {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .phone__about {
    padding-bottom: 25px;
  }
  .text__block {
   float: none;
  }
  .about__long__text {
    display: block;
    margin: 0 auto;
  }
  .work__object>li{
    margin-right: 0;
    text-align: center;
    display: block;
  }
  .work__object>li:nth-child(n+5){
    margin-top: 0;
  }
  .work__object__bottom {
    margin-top: 80px;
  }
  .work__bottom__left {
    float: none;
    margin: 0 auto;
  }
  .mail__box {
    margin: 0 auto;
    float: none;
  }
  .work__bottom__right{
    text-align: center;
    margin-top: 40px;
  }
  .circle__object>li {
    float: none;
    margin-right: 0;
    margin-top: 88px;
  }
  .circle__object>li:first-child {
    margin-top: 20px;
  }

  .humberger-shop {
    display:none;
  }
}

/*-----------------------------------
sp
------------------------------*/
@media screen and (max-width:767px){
  .is__inner {
    width: 97%;
  }

  .header__box {
    padding: 10px;
    display: none;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .humberger-shop {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 20px;
    width: 40px;
    text-align: center;
  }

  .humberger {
    font-size: 30px;
    color: #dedede;
  }

  .bolt__theme {
    padding: 160px 0 130px;
  }
  .bolt__main{
    font-size: 80px;
  }
  .bolt__sub {
    margin-top: 20px;
    font-size: 30px;
  }
  .about__long__text {
   width: auto;
  }
  .work__bottom__left {
    width: auto;
  }
  .sns-btn {
    display: block;
  }
  .sns__block {
    padding: 50px 15px;
  }
  .sns-link-text {
    width: 100%;
  }
}